.button {
    min-width: 180px;
    min-height: 57px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
        background-color: var(--light-gray);
    }
}