.movieCounter {
    margin: 24px 0;
    padding: 0 60px;
    font-size: 20px;

    span {
        margin-right: 7px;
        font-weight: 600;
    }
}

.movies {
    margin-bottom: 70px;
    padding: 0 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 325px);
    justify-content: space-between;
    align-content: center;
    grid-gap: 50px;

    @media (max-width: 625px) {
        justify-content: center;
    }
}