@import './common/constants/colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--white);
    background-color: var(--graphite);

    @media (max-width: 768px) {
        padding: 0 30px;
    }

    @media (max-width: 576px) {
        padding: 0 15px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
